@import '../../shared/styles/general.scss';
nav {
    background-color: $color-dark;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    a:active,
    a:any-link,
    a:hover {
        color: $color-white;
    }
}