@import '../../shared/styles/general.scss';
.billboard {
    border: 0;
    border-radius: 0;
    img {
        border-radius: 0;
    }
    .card-title {
        font-size: 2.4em;
        font-weight: 300;
        padding-left: 5rem;
    }
    .billboard__car-attributes {
        background-color: $color-white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        border-top: solid 1px rgba(151, 151, 151, 0.4);
        color: $color-text-dark;
        height: 130px;
        font-weight: 300;
        margin: 0;
        .billboard__car-price {
            border-bottom: 0;
            border-right: 1px solid #eee;
            padding-top: 25px;
            padding-bottom: 25px;
            padding-left: 95px;
            vertical-align: top;
            .billboard__car-price-now {
                display: inline-block;
                padding-right: 2rem;
                p {
                    display: inline-block;
                    font-size: 2rem;
                }
                img {
                    height: 1.5rem;
                    vertical-align: inherit;
                }
            }
            .billboard__car-price-date {
                display: inline-block;
                font-size: 0.9rem;
                p {
                    margin-bottom: 0;
                }
            }
        }
        .billboard__car-fuel {
            border-right: 1px solid #eee;
            padding: 25px 25px 45px 25px;
            div {
                display: inline-block;
                vertical-align: top;
            }
            .billboard__car-fuel-title {
                width: 40%;
            }
            .billboard__car-fuel-values {
                p {
                    margin: 0.2rem;
                    font-size: 0.7rem;
                    line-height: 0.7rem;
                    text-transform: uppercase;
                }
                .billboard__car-fuel-values-numbers {
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.6rem;
                }
            }
        }
        .billboard__car-seat {
            padding: 25px 25px 45px 25px;
            .billboard__car-seat-values {
                p {
                    margin: 0;
                }
                div {
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.6rem;
                }
            }
        }
    }
}